/* line 28, ../../demo/sass/elements/_buttons.sass */
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 20px;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #aaaaaa;
  border: 1px solid #777777;
  text-shadow: 0 2px 0 #909090;
  box-shadow: 0 3px 0 0 #5d5d5d, inset 0 1px 3px rgba(255, 255, 255, 0.4);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.125) 0%, rgba(0, 0, 0, 0.125) 100%); }
  /* line 37, ../../demo/sass/elements/_buttons.sass */
  .button:visited, .button:hover, .button:active {
    color: white; }
  /* line 51, ../../demo/sass/elements/_buttons.sass */
  .button:hover {
    background-color: #bebebe;
    border: 1px solid #8b8b8b;
    text-shadow: 0 2px 0 #a5a5a5;
    box-shadow: 0 3px 0 0 #727272, inset 0 1px 3px rgba(255, 255, 255, 0.4);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.125) 0%, rgba(0, 0, 0, 0.125) 100%);
    border: 1px solid #777777; }
  /* line 55, ../../demo/sass/elements/_buttons.sass */
  .button:active {
    position: relative;
    top: 3px;
    box-shadow: none !important; }
  /* line 60, ../../demo/sass/elements/_buttons.sass */
  .button.primary {
    background-color: #55cc44;
    border: 1px solid #318624;
    text-shadow: 0 2px 0 #3fae2f;
    box-shadow: 0 3px 0 0 #225e19, inset 0 1px 3px rgba(255, 255, 255, 0.4);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.125) 0%, rgba(0, 0, 0, 0.125) 100%); }
  /* line 63, ../../demo/sass/elements/_buttons.sass */
  .button:disabled {
    background-color: #dddddd;
    border: 1px solid #aaaaaa;
    text-shadow: 0 2px 0 #c3c3c3;
    box-shadow: 0 3px 0 0 #909090, inset 0 1px 3px rgba(255, 255, 255, 0.4);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.125) 0%, rgba(0, 0, 0, 0.125) 100%);
    cursor: default; }
  /* line 67, ../../demo/sass/elements/_buttons.sass */
  .button.remove {
    background-color: #cc5544;
    border: 1px solid #863124;
    text-shadow: 0 2px 0 #ae3f2f;
    box-shadow: 0 3px 0 0 #5e2219, inset 0 1px 3px rgba(255, 255, 255, 0.4);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.125) 0%, rgba(0, 0, 0, 0.125) 100%); }

/* line 19, ../../demo/sass/forms/_base.sass */
input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5em;
  padding: 8px;
  border: 1px solid #aaaaaa;
  background-color: #eeeeee;
  outline: 0;
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15); }
  /* line 37, ../../demo/sass/forms/_base.sass */
  input[type='text']:hover {
    border-color: #999999;
    background-color: #f0f0f0; }
  /* line 42, ../../demo/sass/forms/_base.sass */
  input[type='text']:focus {
    border-color: #8899ee;
    background-color: white;
    box-shadow: inset 1px 1px 2px rgba(20, 20, 120, 0.3); }
  /* line 48, ../../demo/sass/forms/_base.sass */
  input[type='text']:disabled {
    border-color: #cccccc;
    background-color: #eeeeee;
    color: #999999; }

/* line 71, ../../demo/sass/forms/_base.sass */
.mod-input {
  position: relative;
  display: block; }
  /* line 75, ../../demo/sass/forms/_base.sass */
  .mod-input > label {
    width: 45%;
    font-weight: bold; }
  /* line 80, ../../demo/sass/forms/_base.sass */
  .mod-input > input, .mod-input > label {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline; }
  /* line 87, ../../demo/sass/forms/_base.sass */
  .mod-input.disabled {
    color: #888888; }
    /* line 89, ../../demo/sass/forms/_base.sass */
    .mod-input.disabled input {
      border-color: #cccccc;
      background-color: #eeeeee;
      color: #999999; }
  /* line 97, ../../demo/sass/forms/_base.sass */
  .mod-input.invalid label {
    color: #991111; }
  /* line 100, ../../demo/sass/forms/_base.sass */
  .mod-input.invalid input {
    border-color: #ee6655;
    background-color: #ffdddd; }
  /* line 106, ../../demo/sass/forms/_base.sass */
  .mod-input.valid label {
    color: #119911; }
  /* line 109, ../../demo/sass/forms/_base.sass */
  .mod-input.valid input {
    border-color: #66ee55;
    background-color: #ddffdd; }
